.btn {
  border: 1px solid snow;
  border-radius: 3px;
  background-color: transparent;
  font-size: 14px;
  padding: 8px 35px;
  text-transform: uppercase;
  color: snow;
  display: inline-block;
  letter-spacing: 2px;
}
.btn--hero {
  position: relative;
}
.btn--hero::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  /* atstumti i kaire per puse el plocio */
  transform: translateX(-50%);
  width: 1px;
  background-color: snow;
  height: 500px;
}
